@model Computer_Component_Store.Data.ComputerComponentCart
@{
    ViewData["Title"] = "Cart";
}
<h2>Cart</h2>
@if (Model == null || !Model.ComputerComponentCartItems.Any())
{
    <div class="alert alert-warning">
        <p>You have nothing in your cart. <a asp-controller="Products" asp-action="AllProducts">check out some products!</a></p>
    </div>
}
else
{
    <form method="post">
        <table class="table table-striped" style="border-bottom:1px solid #e8e8e8;">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th></th>
                    <th>Type</th>
                    <th>Unit Price</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ComputerComponentCartItems.Count; i++)
                {
                <tr>
                    <td><a href="/products/index/@Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.ID">@Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.Name</a></td>
                    <td><img class="img-responsive" src="@Url.Content(Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.ImageURL)" /></td>
                    <td>@Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.Category</td>
                    <td>@((Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.Price ?? 0).ToString("c"))</td>
                    <td>@Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.Description</td>
                    <td>
                        <input type="hidden" name="ComputerComponentCartItems[@i].id" value="@Model.ComputerComponentCartItems.ElementAt(i).ID" />
                        <select class="form-control" name="ComputerComponentCartItems[@i].quantity">
                            @for (int j = 0; j <= Model.ComputerComponentCartItems.ElementAt(i).Quantity + 10; j++)
                            {
                                if (j == Model.ComputerComponentCartItems.ElementAt(i).Quantity)
                                {
                                    <option selected value="@j">@j</option>
                                }
                                else
                                {
                                    <option value="@j">@j</option>
                                }
                            }
                        </select>
                    </td>
                    <td>@((Model.ComputerComponentCartItems.ElementAt(i).Quantity * (Model.ComputerComponentCartItems.ElementAt(i).ComputerComponentProduct.Price ?? 0)).ToString("c"))</td>
                </tr>
                }
            </tbody>
        </table>
        <input type="submit" class="btn btn-danger" value="Update Cart Quantities" />
    </form>
    <a style="margin-bottom:27px;" asp-controller="checkout" asp-action="index" class="btn btn-danger">Checkout</a>
 }