@model IEnumerable<Computer_Component_Store.Data.ComputerComponentProduct>

@{
    ViewData["Title"] = "HardcoreFeaturedBuild";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:3rem;">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <img src="~/images/banner/banner_1.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="carousel-h1">HARDCORE</p>
                <span class="carousel-subheader" style="background-color:#9b333f; color:#e8e8e8;">Hardcore Build For Hardcore Gamer.</span>
            </div>

        </div>
    </div>
</div>
@*<h2>Featured Build - HARDCORE</h2>
    <div class="btn-text-divider"></div>
    <div class="row">
        <a asp-controller="Products" asp-action="HardcoreFeaturedBuild">
            <img src="~/images/banner/banner_1.jpg" class="img-responsive" />
        </a>
    </div>*@


@* Hardcore Form *@
<form asp-action="index" method="post" id="HardcorePicker">
    <h1>This Build contains the following items:</h1>
    <div class="btn-text-divider"></div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "CASE" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="CaseIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "MOTHERBOARD" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="MotherboardIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "VIDEOCARD" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="VideoCardIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "PROCESSOR" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="ProcessorIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "RAM" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="RAMIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "COOLINGSYSTEM" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="CoolingSystemIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "STORAGE" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <p>$@product.Price</p>
                        <input type="hidden" name="StorageIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" id="HardcoreSubmitButton" value="Add Complete Build To Cart" style="width:100%; height:9rem; margin-bottom:3rem;">
</form>


