
@model IEnumerable<Computer_Component_Store.Data.ComputerComponentProduct>

@{
    ViewData["Title"] = "HardcoreFeaturedBuild";
}

<h2>Hardcore Featured Build</h2>


@* Hardcore Form *@
<form asp-action="index" method="post" id="HardcorePicker">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "MOTHERBOARD" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>

                        <input type="hidden" name="MotherboardIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "CASE" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>

                        <input type="hidden" name="CaseIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "VIDEOCARD" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>

                        <input type="hidden" name="VideoCardIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "RAM" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>

                        <input type="hidden" name="RAMIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "COOLINGSYSTEM" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>

                        <input type="hidden" name="CoolingSystemIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @foreach (var product in Model.Where(x => x.Category == "STORAGE" && (x.CompatibilityType == "S")))
                    {
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>
                        <p>@product.Description</p>
                        <input type="hidden" name="StorageIDHardcore" value="@product.ID" />
                        <label for="quantity">How many would you like?</label>
                        <select name="quantity" class="form-control">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    }
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" id="HardcoreSubmitButton" value="Add To Cart" style="width:100%; background-color:#9b333f;" />
</form>


