@model Computer_Component_Store.Models.ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card">
            <h2>@Model.Name</h2>
            <img src="@Url.Content(Model.ImagePath)" alt="@Model.Name" class="img-fluid" />
            <p>@Model.Description</p>
            <h3>@Model.Price.ToString("C")</h3>

            <form method="post">
                <input type="hidden" name="id" value="@Model.ID" />
                <label for="quantity">How many would you like?</label>
                <select name="quantity" class="form-control">
                    @for (int i = 1; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary" value="Add To Cart" />
            </form>
        </div>
    </div>
</div>

<h1>Compatible Products</h1>
<br />
<br />
<div class="row">
    @if (Model.ComputerComponentProducts != null && Model.ComputerComponentProducts.Any())
    {
        @foreach (var product in Model.ComputerComponentProducts)
        {
            <div class="col-12 col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h2><a href="/products/index/@product.ID">@product.Name</a></h2>
                        <a href="/products/index/@product.ID"><img class="img-fluid" src="@Url.Content(product.ImageURL)" /></a>

                        <form method="post" asp-action="index">
                            <input type="hidden" name="id" value="@product.ID" />
                            <label for="quantity">How many would you like?</label>
                            <select name="quantity" class="form-control">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <input type="submit" class="btn btn-primary" value="Add To Cart" />
                        </form>
                    </div>
                </div>
            </div>
        }

    }
</div>

