@model IEnumerable<Computer_Component_Store.Data.ComputerComponentProduct>
@{
    ViewData["Title"] = "Part Picker";
}

<h2>CUSTOM PC PART PICKER</h2>
<p>Select the option that best fits your budget:</p>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-danger" name="Hardcore" id="Hardcore" style="margin-top:0;" onclick="DisplayHardcorePicker()">
            HARDCORE
            <div class="btn-text-divider"></div>
            <p>Money is not an issue.</p>
            <p>This build is for <strong>HARDCORE</strong> gamers only</p>
            <p>Only S-Tier options are presented.</p>
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-danger" name="Casual" id="Casual" style="margin-top:0;" onclick="DisplayCasualPicker()">
            Casual
            <div class="btn-text-divider"></div>
    <p>You are on a budget and in the market for serious gear.</p>
    <p>This build is to hold you over until you level up in life.</p>
    <p>Many options are available to <strong>Casuals</strong></p>
    </button>
</div>
    <div class="col">
        <button type="button" class="btn btn-danger" name="Pleb" id="Pleb" style="margin-top:0;" onclick="DisplayPlebPicker()">
            pleb
            <div class="btn-text-divider"></div>
            <p>You have Limited funds but nothing can stop you.</p>
            <p>This build is good enough to get the job done.</p>
            <p>Only one build is available for <strong>plebs</strong></p>
        </button>

    </div>
</div>

@* Hardcore Form *@
<form asp-action="index" method="post" id="HardcorePicker" style="display:none;">
    <div class="row">

        <h1>HARDCORE <br />(THE MOST EXPENSIVE BUILD)</h1>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Case</h3>
                    <select class="form-control form-control-lg" onchange="setCaseValueHardcore(event)">
                        <option selected>Choose Case</option>
                        @foreach (var product in Model.Where(x => x.Category == "CASE" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name, $@product.Price</option>

                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="CaseIDHardcore" name="CaseIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="MotherboardPickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Motherboard</h3>
                    <select class="form-control form-control-lg" onchange="setMotherboardValueHardcore(event)">
                        <option selected>Choose Motherboard</option>
                        @foreach (var product in Model.Where(x => x.Category == "MOTHERBOARD" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name, $@product.Price</option>

                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="MotherboardIDHardcore" name="MotherboardIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="VideoCardPickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Video Card</h3>
                    <select class="form-control form-control-lg" onchange="setVideoCardValueHardcore(event)">
                        <option selected>Choose Video Card</option>
                        @foreach (var product in Model.Where(x => x.Category == "VIDEOCARD" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name, $@product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="VideoCardIDHardcore" id="VideoCardIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ProcessorPickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Processor</h3>
                    <select class="form-control form-control-lg" onchange="setProcessorValueHardcore(event)">
                        <option selected>Choose Processor</option>
                        @foreach (var product in Model.Where(x => x.Category == "PROCESSOR" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="ProcessorIDHardcore" id="ProcessorIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="RAMPickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>RAM</h3>
                    <select class="form-control form-control-lg" onchange="setRAMValueHardcore(event)">
                        <option selected>Choose RAM</option>
                        @foreach (var product in Model.Where(x => x.Category == "RAM" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="RAMIDHardcore" id="RAMIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="StoragePickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Storage</h3>
                    <select class="form-control form-control-lg" onchange="setStorageValueHardcore(event)">
                        <option selected>Choose Storage</option>
                        @foreach (var product in Model.Where(x => x.Category == "STORAGE" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="StorageIDHardcore" id="StorageIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="CoolingSystemPickerHardcore" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Cooling System</h3>
                    <select class="form-control form-control-lg" onchange="setCoolingSystemValueHardcore(event)">
                        <option selected>Choose Cooling System</option>
                        @foreach (var product in Model.Where(x => x.Category == "COOLINGSYSTEM" && (x.CompatibilityType == "S" || x.CompatibilityType == "A")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="CoolingSystemIDHardcore" id="CoolingSystemIDHardcore" />
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" id="HardcoreSubmitButton" value="Add To Cart" style="width:100%; background-color:#9b333f; display:none;" disabled />
</form>

@* Casual Form *@
<form asp-action="index" method="post" id="CasualPicker" style="display:none;">
    <div class="row">
        <h1>Casuals <br />(Casual Builds For Casuals)</h1>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Case</h3>
                    <select class="form-control form-control-lg" onchange="setCaseValueCasual(event)">
                        <option selected>Choose Case</option>
                        @foreach (var product in Model.Where(x => x.Category == "CASE" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="CaseIDCasual" name="CaseIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="MotherboardPickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Motherboard</h3>
                    <select class="form-control form-control-lg" onchange="setMotherboardValueCasual(event)">
                        <option selected>Choose Motherboard</option>
                        @foreach (var product in Model.Where(x => x.Category == "MOTHERBOARD" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="MotherboardIDCasual" name="MotherboardIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="VideoCardPickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Video Card</h3>
                    <select class="form-control form-control-lg" onchange="setVideoCardValueCasual(event)">
                        <option selected>Choose Video Card</option>
                        @foreach (var product in Model.Where(x => x.Category == "VIDEOCARD" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="VideoCardIDCasual" id="VideoCardIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ProcessorPickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Processor</h3>
                    <select class="form-control form-control-lg" onchange="setProcessorValueCasual(event)">
                        <option selected>Choose Processor</option>
                        @foreach (var product in Model.Where(x => x.Category == "PROCESSOR" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="ProcessorIDCasual" id="ProcessorIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="RAMPickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>RAM</h3>
                    <select class="form-control form-control-lg" onchange="setRAMValueCasual(event)">
                        <option selected>Choose RAM</option>
                        @foreach (var product in Model.Where(x => x.Category == "RAM" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="RAMIDCasual" id="RAMIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="StoragePickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Storage</h3>
                    <select class="form-control form-control-lg" onchange="setStorageValueCasual(event)">
                        <option selected>Choose Storage</option>
                        @foreach (var product in Model.Where(x => x.Category == "STORAGE" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="StorageIDCasual" id="StorageIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="CoolingSystemPickerCasual" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Cooling System</h3>
                    <select class="form-control form-control-lg" onchange="setCoolingSystemValueCasual(event)">
                        <option selected>Choose Cooling System</option>
                        @foreach (var product in Model.Where(x => x.Category == "COOLINGSYSTEM" && (x.CompatibilityType == "B" || x.CompatibilityType == "C")))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="CoolingSystemIDCasual" id="CoolingSystemIDCasual" />
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" id="CasualSubmitButton" value="Add To Cart" style="width:100%; background-color:#9b333f; display:none;" disabled />
</form>


@* Pleb *@
<form asp-action="index" method="post" id="PlebPicker" style="display:none;">
    <div class="row">
        <h1>plebs <br />(a pleb build for plebs)</h1>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Case</h3>
                    <select class="form-control form-control-lg" onchange="setCaseValuePleb(event)">
                        <option selected>Choose Case</option>
                        @foreach (var product in Model.Where(x => x.Category == "CASE" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="CaseIDPleb" name="CaseIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="MotherboardPickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Motherboard</h3>
                    <select class="form-control form-control-lg" onchange="setMotherboardValuePleb(event)">
                        <option selected>Choose Motherboard</option>
                        @foreach (var product in Model.Where(x => x.Category == "MOTHERBOARD" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" id="MotherboardIDPleb" name="MotherboardIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="VideoCardPickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Video Card</h3>
                    <select class="form-control form-control-lg" onchange="setVideoCardValuePleb(event)">
                        <option selected>Choose Video Card</option>
                        @foreach (var product in Model.Where(x => x.Category == "VIDEOCARD" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="VideoCardIDPleb" id="VideoCardIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="ProcessorPickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Processor</h3>
                    <select class="form-control form-control-lg" onchange="setProcessorValuePleb(event)">
                        <option selected>Choose Processor</option>
                        @foreach (var product in Model.Where(x => x.Category == "PROCESSOR" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="ProcessorIDPleb" id="ProcessorIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="RAMPickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>RAM</h3>
                    <select class="form-control form-control-lg" onchange="setRAMValuePleb(event)">
                        <option selected>Choose RAM</option>
                        @foreach (var product in Model.Where(x => x.Category == "RAM" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="RAMIDPleb" id="RAMIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="StoragePickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Storage</h3>
                    <select class="form-control form-control-lg" onchange="setStorageValuePleb(event)">
                        <option selected>Choose Storage</option>
                        @foreach (var product in Model.Where(x => x.Category == "STORAGE" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="StorageIDPleb" id="StorageIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="CoolingSystemPickerPleb" style="display:none;">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3>Cooling System</h3>
                    <select class="form-control form-control-lg" onchange="setCoolingSystemValuePleb(event)">
                        <option selected>Choose Cooling System</option>
                        @foreach (var product in Model.Where(x => x.Category == "COOLINGSYSTEM" && x.CompatibilityType == "D"))
                        {
                            <option value="@product.ID">@product.Name : @product.Price</option>
                        }
                    </select>
                    <input type="hidden" value="1" name="quantity" />
                    <input type="hidden" name="CoolingSystemIDPleb" id="CoolingSystemIDPleb" />
                </div>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-danger" id="PlebSubmitButton" value="Add To Cart" style="width:100%; background-color:#9b333f; display:none;" disabled />
</form>



<script type="text/javascript">
    var Hardcore = document.getElementById('Hardcore');
    var Casual = document.getElementById('Casual');
    var Pleb = document.getElementById('Pleb');

    var Hardcorepicker = document.getElementById('HardcorePicker');
    var Casualpicker = document.getElementById('CasualPicker');
    var Plebpicker = document.getElementById('PlebPicker');

    /* Hardcore Form JS*/

    function DisplayHardcorePicker() {
        if (Hardcorepicker.style.display === "none" || Casualpicker.style.display === "block" || Plebpicker.style.display === "block")
        {
            Casualpicker.style.display = "none";
            Plebpicker.style.display = "none";
            Hardcorepicker.style.display = "block";
            Hardcore.style.backgroundColor = "#9b333f";
            Hardcore.style.color = "#E8E8E8";
            Casual.style.backgroundColor = "#1c1c1c";
            Casual.style.color = "#9b333f";
            Pleb.style.backgroundColor = "#1c1c1c";
            Pleb.style.color = "#9b333f";
        }
        else {
            Hardcorepicker.style.display = "none";
            Hardcore.style.backgroundColor = "#1c1c1c";
            Hardcore.style.color = "#9b333f";

        }
    }
    function setCaseValueHardcore(e) {
        document.getElementById("CaseIDHardcore").value = e.target.value;
        e.target.value != "Choose Case" ? document.getElementById("MotherboardPickerHardcore").style.display = "flex" : document.getElementById("MotherboardPickerHardcore").style.display = "none";
    }
    function setMotherboardValueHardcore(e) {
        document.getElementById("MotherboardIDHardcore").value = e.target.value;
        e.target.value != "Choose Motherboard" ? document.getElementById("VideoCardPickerHardcore").style.display = "flex" : document.getElementById("VideoCardPickerHardcore").style.display = "none";
    }
    function setVideoCardValueHardcore(e) {
        document.getElementById("VideoCardIDHardcore").value = e.target.value;
        e.target.value != "Choose Video Card" ? document.getElementById("ProcessorPickerHardcore").style.display = "flex" : document.getElementById("ProcessorSystemPickerHardcore").style.display = "none";
    }

    function setProcessorValueHardcore(e) {
        document.getElementById("ProcessorIDHardcore").value = e.target.value;
        e.target.value != "Choose Processor" ? document.getElementById("RAMPickerHardcore").style.display = "flex" : document.getElementById("RAMPickerHardcore").style.display = "none";
    }
    function setRAMValueHardcore(e) {
        document.getElementById("RAMIDHardcore").value = e.target.value;
        e.target.value != "Choose RAM" ? document.getElementById("StoragePickerHardcore").style.display = "flex" : document.getElementById("StoragePickerHardcore").style.display = "none";
    }
    function setStorageValueHardcore(e) {
        document.getElementById("StorageIDHardcore").value = e.target.value;
        e.target.value != "Choose Storage" ? document.getElementById("CoolingSystemPickerHardcore").style.display = "flex" : document.getElementById("CoolingSystemPickerHardcore").style.display = "none";
    }

    function setCoolingSystemValueHardcore(e) {
        document.getElementById("CoolingSystemIDHardcore").value = e.target.value;
        e.target.value == "Choose Cooling System" ? document.getElementById("HardcoreSubmitButton").disabled = true : document.getElementById("HardcoreSubmitButton").disabled = false;
        e.target.value != "Choose Cooling System" ? document.getElementById("HardcoreSubmitButton").style.display = "flex" : document.getElementById("HardcoreSubmitButton").style.display = "none";

    }


    /* Casual Form JS */
    function DisplayCasualPicker() {
        if (Casualpicker.style.display === "none" || Hardcorepicker.style.display === "block" || Plebpicker.style.display === "block") {
            Hardcorepicker.style.display = "none";
            Plebpicker.style.display = "none";
            Casualpicker.style.display = "block";
            Hardcore.style.backgroundColor = "#1c1c1c";
            Hardcore.style.color = "#9b333f";
            Casual.style.backgroundColor = "#9b333f";
            Casual.style.color = "#e8e8e8";
            Pleb.style.backgroundColor = "#1c1c1c";
            Pleb.style.color = "#9b333f";
        }
        else {
            Casualpicker.style.display = "none";
            Casual.style.backgroundColor = "#1c1c1c";
            Casual.style.color = "#9b333f";
        }
    }
    function setCaseValueCasual(e) {
        document.getElementById("CaseIDCasual").value = e.target.value;
        e.target.value != "Choose Case" ? document.getElementById("MotherboardPickerCasual").style.display = "flex" : document.getElementById("MotherboardPickerCasual").style.display = "none";
    }
    function setMotherboardValueCasual(e) {
        document.getElementById("MotherboardIDCasual").value = e.target.value;
        e.target.value != "Choose Motherboard" ? document.getElementById("VideoCardPickerCasual").style.display = "flex" : document.getElementById("VideoCardPickerCasual").style.display = "none";
    }
    function setVideoCardValueCasual(e) {
        document.getElementById("VideoCardIDCasual").value = e.target.value;
        e.target.value != "Choose Video Card" ? document.getElementById("ProcessorPickerCasual").style.display = "flex" : document.getElementById("ProcessorSystemPickerCasual").style.display = "none";
    }

    function setProcessorValueCasual(e) {
        document.getElementById("ProcessorIDCasual").value = e.target.value;
        e.target.value != "Choose Processor" ? document.getElementById("RAMPickerCasual").style.display = "flex" : document.getElementById("RAMPickerCasual").style.display = "none";
    }
    function setRAMValueCasual(e) {
        document.getElementById("RAMIDCasual").value = e.target.value;
        e.target.value != "Choose RAM" ? document.getElementById("StoragePickerCasual").style.display = "flex" : document.getElementById("StoragePickerCasual").style.display = "none";
    }
    function setStorageValueCasual(e) {
        document.getElementById("StorageIDCasual").value = e.target.value;
        e.target.value != "Choose Storage" ? document.getElementById("CoolingSystemPickerCasual").style.display = "flex" : document.getElementById("CoolingSystemPickerCasual").style.display = "none";
    }

    function setCoolingSystemValueCasual(e) {
        document.getElementById("CoolingSystemIDCasual").value = e.target.value;
        e.target.value == "Choose Cooling System" ? document.getElementById("CasualSubmitButton").disabled = true : document.getElementById("CasualSubmitButton").disabled = false;
        e.target.value != "Choose Cooling System" ? document.getElementById("CasualSubmitButton").style.display = "flex" : document.getElementById("CasualSubmitButton").style.display = "none";
    }



    /* Pleb Form JS */
    function DisplayPlebPicker() {
        if (Plebpicker.style.display === "none" || Hardcorepicker.style.display === "block" || Casualpicker.style.display === "block") {
            Hardcorepicker.style.display = "none";
            Casualpicker.style.display = "none";
            Plebpicker.style.display = "block";
            Hardcore.style.backgroundColor = "#1c1c1c";
            Hardcore.style.color = "#9b333f";
            Casual.style.backgroundColor = "#1c1c1c";
            Casual.style.color = "#9b333f";
            Pleb.style.backgroundColor = "#9b333f";
            Pleb.style.color = "#e8e8e8";
        }
        else {
            Plebpicker.style.display = "none";
            Pleb.style.backgroundColor = "#1c1c1c";
            Pleb.style.color = "#9b333f";
        }
    }
    function setCaseValuePleb(e) {
        document.getElementById("CaseIDPleb").value = e.target.value;
        e.target.value != "Choose Caseboard" ? document.getElementById("MotherboardPickerPleb").style.display = "flex" : document.getElementById("MotherboardPickerPleb").style.display = "none";
    }
    function setMotherboardValuePleb(e) {
        document.getElementById("MotherboardIDPleb").value = e.target.value;
        e.target.value != "Choose Motherboard" ? document.getElementById("VideoCardPickerPleb").style.display = "flex" : document.getElementById("VideoCardPickerPleb").style.display = "none";
    }
    function setVideoCardValuePleb(e) {
        document.getElementById("VideoCardIDPleb").value = e.target.value;
        e.target.value != "Choose Video Card" ? document.getElementById("ProcessorPickerPleb").style.display = "flex" : document.getElementById("ProcessorSystemPickerPleb").style.display = "none";
    }
    function setProcessorValuePleb(e) {
        document.getElementById("ProcessorIDPleb").value = e.target.value;
        e.target.value != "Choose Processor" ? document.getElementById("RAMPickerPleb").style.display = "flex" : document.getElementById("RAMPickerPleb").style.display = "none";
    }
    function setRAMValuePleb(e) {
        document.getElementById("RAMIDPleb").value = e.target.value;
        e.target.value != "Choose RAM" ? document.getElementById("StoragePickerPleb").style.display = "flex" : document.getElementById("StoragePickerPleb").style.display = "none";
    }
    function setStorageValuePleb(e) {
        document.getElementById("StorageIDPleb").value = e.target.value;
        e.target.value != "Choose Storage" ? document.getElementById("CoolingSystemPickerPleb").style.display = "flex" : document.getElementById("CoolingSystemPickerPleb").style.display = "none";
    }
    function setCoolingSystemValuePleb(e) {
        document.getElementById("CoolingSystemIDPleb").value = e.target.value;
        e.target.value == "Choose Cooling System" ? document.getElementById("PlebSubmitButton").disabled = true : document.getElementById("PlebSubmitButton").disabled = false;
        e.target.value != "Choose Cooling System" ? document.getElementById("PlebSubmitButton").style.display = "flex" : document.getElementById("PlebSubmitButton").style.display = "none";

    }


    $("Hardcore").hover(function () {
        $(this).css("background-color", "#9b333f");
    }, function () {
        $(this).css("background-color", "#e8e8e8");
    });
</script>